body {
    background-position: 500, 180;
    background-size: cover;
}

#title {
    font-size: 55px;
    font-weight: 300;
    color: white;
}

#status {
    font-weight: 250;
    color: whitesmoke;
}

#object_count {
    font-weight: 250;
    color: whitesmoke;
}

canvas {
    box-shadow: 10, 10, 10, lightslategray;
    border-radius: 3px;
    border-color: lightslategray;
}